
.about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.about_container {
    padding:3%;
    width:100%;
    margin-top:0px;
}
.about_container .header {
    width:35%;
    border-bottom: solid rgb(174, 172, 172) 1.5px;
}

.about .body p{
    padding-top: 1%;
    padding-right: 1%;
    font-weight: 300;
    font-size:16px;
    line-height: 1.8;
}
.img_frame {
    margin: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.why_img {
    width: 270px;
    height: 250px;
    margin-left: 1%;
    margin-bottom: 1%;
}
.img_frame img {
    border-radius: 35px;
    width: 270px;
    height: 250px;
}
p .textInBold{
    font-weight: 600;
    color:black;
    margin: 0px !important;
}
p .calendly{
    font-weight: 600;
    color:blue;
    margin: 0px !important;
}