.main {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:red
}
.why_response {
    padding-top: 3%;
    display: flex;
}
.why_response h3 {
    margin-left: 5%;
}
.about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    margin-left: 3%;
}
.about_container {
    padding:3%;
    width:44%;
    margin-top:0px;
}
.about_container .header {
    border-bottom: solid rgb(174, 172, 172) 1.5px;
}
.about .body {
    height: 40%;
    overflow: scroll;
}
.about .body p{
    font-weight: 600;
    font-size:14px;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
border-radius: 4px;
background-color: rgba(0, 0, 0, .5);
-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
.img_container {
    margin-top: -33%;
}
.img_frame {
    margin:1%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    /* margin-left: -4%; */
}
.why_img {
    width: 250px;
    height: 250px;
    margin-left: 2%;
    margin-bottom: 2%;
}
.img_frame img {
    width: 250px;
    height: 250px;
}