.main {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.why_response_contaioer {
    margin-top:2%;
    display: flex;
}
.why_response {
    margin-top:2%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    border: rgb(196, 194, 194) 2px solid;
}
.why_response h3 {
    margin-top:1px;
}