.aside {
    display:flex ;
    flex-direction: column;
    background-color: rgb(252, 252, 252);
    flex: 0 0 200px; /* Sidebar width */
	order: 0;
    background-color: red;
    display: inherit;
}


/* Nav section*/
    
ul {
    text-align: center;
    margin-top:10%;
    display: flex;
    height: auto;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}
li {
    list-style: none;
}

.profile{
    width:100%;
    height: 30%;
    display:flex;
    background-color: rgb(252, 252, 252);
    margin-bottom: 5%;
}
.img {
    width: 55%;
    height: 75%;
    border-radius: 50%;
    margin-top: 10%;
    margin-left: 23%;
}
.emoticonsContainer {
    width: 100%;
    height: 5%;
    background-color: #eaebf3;
}

/* Media Queries  */
@media only screen and (max-width: 768px) {
    /* Re-order content for mobile */
    .aside {
        flex: 0 0 100%;
        height: 15%;
        }
    .aside > nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .aside > nav > ul {
            margin-top: 0% ;
            flex-direction: row;
        }
    .aside > nav > ul > li {
            margin: 1%;
        }
    .profile
    {
        display: none;
    }

    .emoticonsContainer {
        order: 2;
        height: 35%;
    }

}
