.button {
    display: flex;
    border-radius: 15px;
    justify-content: center;
    width: 90%;
    height: 30px;
    background-color: rgb(248, 144, 7);
    margin-top: 3%;
}
.button .a{
    padding-top: 2%;
    color: white;
    text-decoration: solid;
    font-weight: 600;
    font-size:19px
}
.button:hover {
    background-color: #2f5297;
}