.main{
    border: 3px solid #e2e8f0;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 3%;
    display: block;
    width: auto;
    height: 550px;
}
.header {
    padding: 2%;
    height: 10%;
    border: red solid 2px;;

}
.body {
    height: 60%;
    padding: 2%;
    border: rgb(149, 113, 113)  solid 2px;;
}
.footer {
    padding: 2%;
    height: 10%;
    border: blue solid 2px;
}