.main{
    display:flex;
    flex-direction: column;
    margin-bottom: 0px;
}
.main h1 {
    margin: 0px;
    color: #0c3da0;
    font-size: 64px;
    color: black;
}
.main p {
    margin-left: auto;
    margin-right: 3%;
    color: black;
    width: 70%;
    line-height: 25px;
    white-space: normal;
    box-sizing: border-box;
    text-align: right;
}