.emoticons {
    width: 60%;
    background-color: #eaebf3;
    display: flex;
    margin: auto;
}
.emoticon {
    margin: auto;
    width: 15%;
}

@media only screen and (max-width: 768px) {
	/* Re-order content for mobile */
	.emoticon {
        width: 10%;
    }
}

