.main {
    width: 90%;
    display: flex;
    flex-direction:  row   ;
    justify-content: center;

}
.timeline {
  width: 20%;
}
.information {
    width:80%;
    margin-top: 50px;
    z-index: -1 !important;
}
.tube {
    margin-top: 50px;
    margin-left: 100px;
    padding-top: 2px;
    border-radius: 30px;;
    width: 20%;
    background-color: orange;
}
.year {
    margin-left: -33%;
    border-radius: 50%;
    background-color: white;
    color: #cad0d8;
    font-weight: 400;
    width: 80px;
    height: 80px;
    border: #2f5297 dotted 4px;
    display: flex;
    margin-top: 100px;
}
.year:hover {
    font-weight: 600;
    margin-left: -65%;
    width: 100px;
    height: 100px;
    border: #2f5297 solid 5px;
}
span {
    margin-top:35%;
    margin-left:28%;
    color: black;
}
.info_container {
    position: absolute;
    display:none;
    left: 650px;
    width: 800px;
    z-index: 1 !important;
    margin-bottom: 70px;
}
.show {
    width: 400px;
    background-color: blue;
    color:white
}
.hide {
    background-color: white;
    color: blue;
}