.main {
  width: 1310px;
  display: flex;
  margin-top:7.7%;
}
.navbar {
  height: 15%;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.body {
  width: 100%;
  border: red 1px solid;
  display: flex;
  justify-content: center;
}

